:root {
    --dark-text-color-1: #8A99AF;
    --dark-text-color-2: #5E5F60;
    --stroke: #E2E8F0;
    --white: #FFFFFF;
    --black: #000000;
    --primary: #3C50E0;
    --secondary: #80CAEE;
    --text-color: #64748B;
    --green: #10B981;
    --yellow: #F0950C;
    --gray: #EFF4FB;
    --red: #FB5454;
}